html{
    background-color: #6a87b7;
}

body{
    background-color: #fff0 !important;
}

.overlay {
    background: rgba(0, 0, 0, 0.4);
    width:100%; 
    height:100%; 
    z-index:10;
    top:0; 
    left:0; 
    position:fixed; 
}

body .modal {
    position: fixed;
    width: 60%;
    height: 80%;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    border: 1px solid #ccc;
    background: rgba(255, 255, 255, 1);
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 30px;
    margin: 0 auto;
    margin-top: 3%;
    display: block; 
}

.modal-header{
    margin-bottom: 2%;
}

.team-logo{
    margin-left: 10%;
}

.squad-tbl{
    height: 500px; 
    overflow-y: scroll;
}

.card{
    margin-top: 2%;
    text-align: center;
}

.jumbotron{
    
    margin-top: 3%;
    text-align: center;
}

.nav-title{
    margin-left: 40%;
}

.navbar{
    margin-bottom: 2%;
}

.leagues{
    margin-left: 6% !important;
}

table {
    background-color: #ECEFF1 !important;
}

table tr:hover{
    background-color: #81C784 !important;
}